* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    font-style: normal;
}

html {
    width: 95%;
    margin: 0 auto;
}
.nav {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.nav-item {
    display: block;
}

.nav .header-logo {
    margin-right: auto;
}

.nav a.nav-item {
    text-decoration: none;
    color: #000;
    font-size: larger;
    font-weight: bolder;
}

.nav a.nav-item:hover {
    text-decoration: underline;
}

.main-ad {
    display: flex;
    margin: 20px;
    margin-bottom: 40px;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    height: 80vh;
}

.main-ad-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.ad-bigger {
    font-size: 50px;
}

.ad-bolder {
    font-size: 60px;
    font-weight: bolder;
}

.ad-surprising {
    font-size: 60px;
    font-weight: bolder;
    color:chocolate
}

.main-ad-img {
    width: 600px;
    max-width: 90%;
    display: block;
    border-radius: 20px;
    border: 10px double black;
}

.about {
    width: 800px;
    max-width: 95%;
    margin: 20px auto 70px;
}

h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 15px;
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
}

.about p {
    font-size: x-large;
    text-align: justify;
    margin-bottom: 10px;
}

.testimonials {
    width: 800px;
    max-width: 80%;
    margin: 20px auto 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 7px;
    width: 200px;
}

.testimonial-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.t-person {
    font-weight: bold;
    font-size: large;
}

.t-review {
    text-align: center;
    font-style: italic;
    font-size: large;
}